.text{
  padding: 31px;
  color: #FFFF;
  text-align: center;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 329px;
}
/* .experiencecontainer{
    height: 272px;
} */
/* ::-webkit-scrollbar {
    width: 2px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2px;
    padding: 3px;

  } */